/* All project style variables are stored here. The variables below are provided as a demonstration. */

// Viewport Dimensions
$sm: 320px;
$md: 768px;
$xl: 1280px;

// Colors
$main-color: #49A3E5;
$blue-1: #379AE2;
$blue-2: #C1E2FC;
$blue-3: #071148;

$black: #000;

$white: #fff;

$light: #EDEDED;
$light-1: #F7F7F7;
$light-2: #F1F1F1;
$light-3: #FAFAFA;
$light-4: #e9ecef;
$light-5: #D9D9D9;

$orange: #FF9A62;

$green: #69D099;
$green-1: #A3E7C4;

$violet: #DC85FB;
//shadow
$box-shadow: 0 4px 6px rgba(0, 0, 0, .35);

// Fonts
$main-font: "Roboto", "Arial", sans-serif;