@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
}

.jscarousel {
    overflow: hidden;
}

.slide {
    width: 300px;
    float: left;
}
.carousel-item { 
    padding: 20px;
}

.carousel__inner {
    box-shadow: 0 4px 6px rgb(0 0 0 / 35%);
    background-color: #EFFAFF;
    border-radius: 15px;
    padding: 20px;
}
.slide-top {
    display: flex;
}

.slider-image {
    width: 55px;
    height: 55px;
    background-color: #49A3E5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-image i { font-size: 2.5rem; color: #fff;}
.slider-title { 
    width: calc(100% - 55px);
    text-align: center;
    padding-left: 10px;
    color: #49A3E5;
    font-weight: 700;
}
.slide-content {
    margin-top: 15px;
    color: #071148;
}